<div class="card">
  <div class="card-header clearfix">
    <h2 class="pull-xs-left"><strong><%= @food.menu.name %> / <%= @food.name %></strong></h2>
    <div class="pull-xs-right">
      <%= link_to "Back",
          request.referer.present? ? request.referer : menu_path(params: {section: @food.menu.name}),
          class: "btn btn-warning" %>
    </div>
  </div>
  <div class="card-block">

    <p id="notice"><%= notice %></p>

    <div class="row">

      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label><strong>Name:</strong></label>
          <p><%= @food.name %></p>
        </div>

        <div class="form-group">
          <label><strong>Description:</strong></label>
          <p><%= @food.description %></p>
        </div>

        <div class="form-group">
          <label><strong>Price:</strong></label>
          <p><%= number_to_currency(@food.price, unit: "VND ") %></p>
        </div>

        <div class="form-group">
          <label><strong>Menu:</strong></label>
          <p><%= @food.menu.name %></p>
        </div>

      </div>

      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label><strong>Image:</strong></label>
          <p><%= image_tag(@food.show_image(), class: "img-fluid img-thumbnail") %></p>
        </div>
      </div>

    </div>

    <hr>

    <%= form_tag(food_order_path(id: @food.id), method: "post", class: "text-xs-center") do %>
      <%= hidden_field_tag(:food_id, @food.id) %>
      <%= submit_tag("Order", class: "btn btn-danger") %>
    <% end %>

  </div>
</div>
